.targetBox {
  pointer-events: none;
  position: absolute;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 50%;
  padding: 1rem;
  transform: translateX(-50%) translateY(-50%);
  transition: top 1s, left 1s;
}
.dropdown {
  pointer-events: all;
  border-radius: 5px;
  position: absolute;
  left: 2rem;
  top: 2rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.25rem;
}
.dropdown ul,
li {
  font-size: 75%;
  list-style-type: none;
  min-width: 6rem;
}
.dropdown li:hover {
  background-color: grey;
}
.found {
  text-decoration: line-through;
}
.marker {
  border-color: gainsboro;
  outline: dashed red;
}
